body {
  background-color: #c5cae9;
  font-family: "Open Sans";
  font-weight: bold;
}

.container {
  min-width: 80%;
}

.spacer {
  height: 30px;
}

.card {
  background-size: cover;
  border-radius: .8rem;
  text-align: center;
  border: 0;
}

.card-body {
  color: black;
  font-weight: bold;
}

.wrapper {
  background-color: #f8fdff;
  border-radius: .8rem;
}

.headwrapper {
  text-align: center;
  font-weight: bold;
  background-color: #f8fdff;
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
  border-color: #9499b7 !important;
}

.border {
  border-width: medium !important;
}

.link {
  background-color: #9499b7;
  color: #f8fdff;
  padding: 2%;
  border-radius: .8rem;
}

.link:hover {
  color: #9499b7;
  background-color: #c5cae9;
}

h1 {
  font-weight: bold;
  margin-bottom: 0;
  padding: 1%;
}

h4 {
  background-color: #9499b7;
  color: #f8fdff;
  padding: 2%;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
  text-align: center;
  font-weight: bold;
}

h3 {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
  font-weight: bold;
  font-style: italic;
}


.img-thumbnail {
  border: 0;
  padding: 0;
  border-radius: .8rem;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%
}

p {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%
}

ol {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
  padding-left: 0%;
}

li {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
}

table {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%
}

td {
  padding-right: 5%
}

.btn {
  background-color: #f8fdff;
  border-radius: .8rem;
  color: #9499b7;
  font-weight: bold;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%
}

.btn:hover {
  background-color: #9499b7;
  color: #f8fdff;
}

.topic {
  margin-top: 5%;
  color: #f8fdff;
  padding: 2%;
  text-align: center;
  font-weight: bold;
}

.topic:hover {
  color: #9499b7;
}

.topiclink:hover {
  text-decoration: none;
}

.imgwidth {
  width: 100%;
}

.card-title {
  margin-bottom: 0;
}

#topleft {
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
}

#topright {
  border-top-right-radius: 0;
}


.img-profile {
  width: 100%;
  border-top-left-radius: .8rem;
  border-bottom-left-radius: .8rem;

}

.nav-link {
  color: #9499b7 !important;
}

.jumptarget::before {
  content:"";
  display:block;
  height: 200px; /* fixed header height*/
  margin: -200px 0 0; /* negative fixed header height */
}

.embed-container {
  position: relative; 
  padding-bottom: 50.95%; /* ratio 16x9 */
  height: 0; 
  overflow: hidden; 
  width: 100%;
  height: auto;
}
.embed-container iframe {
  margin-left: 5%;
  margin-right: 5%;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 90%; 
  height: 100%; 
}


@media (min-width: 720px) {
  body {
    font-size: 1.4rem;
  }

  .btn {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2rem;
  }

  .headwrapper {
    font-size: 3rem;
  }

  .card-title {
    font-size: 3rem;
  }

  .final {
    padding-right: 0;
  }

  .about {
    padding-left: 0;
  }

  .nav-link {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) {
  #topleft {
    border-top-left-radius: .8rem;
  }

  #topright {
    border-top-right-radius: .8rem;
  }
}
